@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
::-webkit-scrollbar {
	display: none;
}
* {
	overflow-x: hidden;
}
body {
	background-color: #3872f2;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
}
main {
	align-items: center;
	display: flex;
	flex-direction: column;
}
main h1,
main h2 {
	color: #ffffff;
}
h1 {
	font-size: 3em;
	margin-bottom: 5px;
}
h2 {
	margin: 0;
	margin-right: 4px;
	font-weight: 300;
	font-size: 1.35rem;
}

img {
	height: 15vh;
	width: 15vh;
}
button {
	margin-right: 10px;
	font-weight: 600;
	background-color: white;
	font-family: 'Poppins', sans-serif;
	border: none;
	width: fit-content;
	color: #3872f2;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 17px;
	transition: all 0.1s ease;
	cursor: pointer;
}
button:active {
	border-radius: 3px;
	outline: 2px solid white;
	transform: scale(0.9);
}
.wave1 {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	margin: 0;
}

.wave1 svg {
	position: relative;
	display: block;
	width: calc(119% + 1.3px);
	height: 106px;
}

.wave1 .shape-fill {
	fill: #49c36c;
}
.about {
	padding-top: 5vh !important;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #49c36c;
	width: 100vw;
	height: 100vh;
}
header {
	display: flex;
	justify-content: center;
	padding-left: 5vw;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}
.why {
	transition: background-color 0.15s ease-in-out;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	border-radius: 5%;
	background-color: rgba(0, 0, 0, 0.4);
	width: 20vw;
	height: 35vh;
	color: white;
}
.why:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.material-icons {
	font-size: 5em !important;
}
list {
	margin-top: 20vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5vw;
}
.why p {
	width: 90%;
	font-size: 1.2em;
	margin: 0;
}
.why h1 {
	font-size: 2.2em;
}
.wave2 {
	position: absolute;
	bottom: -105vh;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.wave2 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 70px;
}

.wave2 .shape-fill {
	fill: #21201e;
}
footer {
	background-color: #21201e;
	color: white;
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 100vw;
	align-items: center;
}
a {
	text-decoration: none;
	color: white;
}
footer > div {
	display: flex;
	align-items: center;
	flex-direction: row;
}
footer > div > a {
	margin: 20px;
	margin-bottom: 0;
	margin-top: 0;
}
@media only screen and (max-width: 1750px) {
	.why p {
		font-size: 1em;
	}
}
@media only screen and (min-width: 2560px) {
	.why p {
		font-size: 1.8em;
	}
	.why h1 {
		font-size: 3em;
	}
	.material-icons {
		font-size: 8em !important;
	}
}
@media only screen and (max-width: 1550px) {
	.why p {
		font-size: 0.8em;
	}
	.why h1 {
		font-size: 2em;
	}
}
@media only screen and (max-width: 1280px) {
	.why p {
		font-size: 0.7em;
	}
	.why h1 {
		font-size: 1.5em;
	}
}
@media only screen and (aspect-ratio: 9/16) {
	.wave2 {
		bottom: -110vh;
	}
	.wave1 {
		bottom: -5vh;
	}
}
@media only screen and (max-width: 1000px) {
	list {
		margin-top: 0;
		grid-template-columns: 90vw;
	}
	.material-icons {
		font-size: 3em !important;
	}
	.why {
		width: 100%;
	}
	.why h1 {
		height: 20% !important;
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
	.about h1 {
		margin-bottom: 3vh;
		height: 10%;
		font-size: 2em;
	}
	.about {
		height: 150vh;
	}
	.why p {
		font-size: 1em;
	}
	.wave2 {
		bottom: -155vh;
	}
}
